.chat {
  display: flex;
  flex-direction: column;
  flex: 0.65;
}
.header {
  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
}
.info {
  padding-left: 11px;
}
.info > h3 {
  margin-bottom: 3px;
  font-weight: 500;
}
.head_rg {
  padding-left: 400px;
}
.chat_body {
  flex: 1;
  background-repeat: repeat;
  background-position: center;
  padding: 30px;
  overflow: scroll;
  background-image: url("https://i.imgur.com/1Rg03go.png");
}
.message {
  position: relative;
  font-size: 16px;
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 30px;
}
.time {
  margin-left: 10px;
  font-size: xx-small;
}
.name {
  position: absolute;
  top: -15px;
  font-weight: 800;
  font-size: xx-small;
}
.reciver {
  margin-left: auto;
  background-color: #dcf8c6;
}
.footer {
  display: flex;
  align-items: center;
  height: 62px;
  justify-content: space-between;
  border-top: 1px solid lightgray;
}
.footer > form {
  display: flex;
  flex: 1;
}
.footer > form > input {
  flex: 1;
  outline-width: 0;
  border-radius: 30px;
  padding: 10px;
  border: none;
}
.footer > form > button {
  display: none;
}
.insert {
  padding: 10px;
  color: gray;
}
.mic {
  padding: 10px;
  color: gray;
}
